env/
__pycache__/
.env
.vscode/
Repositories/
YAMLs/
NonYAMLs/
datos.csv
resultados_claves.csv
MisYAMLs/
Configuraciones.csv
Kubernetes.csv 
filesNotProcessed.txt
FIP.csv
most_common_keys.csv
most_common_features.csv
numConfPerManifest.csv
numConfPerManifest2.csv